body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #f9f9f9;
    }

.link-btn {
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #708090;
    width: 150px;
    height: 30px;
    font-weight: bold;
}

.form-container {
    margin-bottom: 20px;
    background: white;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 500px;
    }

#pastryName {
    width: 80px;
    padding: 5px;
}

.add-btn {
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #006400;
    width: 50px;
    height: 30px;
    font-weight: bold;
}

table {
        width: 100%;
        max-width: 500px;
        border-collapse: collapse;
        background: white;
    }

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    }

th {
    background: #1F4E79;
    color: white;
    }

.qty-input {
        width: 80px;
        padding: 5px;
    }

.delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    }

.download-btn {
    border-radius: 3px;
    border: none;
    color: white;
    background-color: #006400;
    width: 200px;
    height: 30px;
    font-weight: bold;
    margin-left: 20px;
    }